body {
    font-family: "Nunito", Sans-serif;
    padding: 0px;
    margin: 0px;
}

.prsave {
    margin: 7px 18px 0 0px;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 14px;
    padding: 4px 15px;
    line-height: 14px;
}

.prsave span {
    color: #ff565c;
    font-weight: 600;
}
.prsave strong {
    background: #ffbf00;
    font-weight: 400;
    font-size: 13px;
    color: #333;
    padding: 2px 6px;
    line-height: 13px;
    border-radius: 2px;
    margin: 0 8px 0 0;
}

.bg_clrddd1 {
}

.head_hotal {
    font-size: 20px;
    color: #fff;
    margin: 0px;
    font-weight: 500;
    padding: 0 0 15px 0;
    text-transform: capitalize;
}

.span_pseudo,
.chiller_cb span:before,
.chiller_cb span:after {
    content: "";
    display: inline-block;
    background: #fff;
    width: 0;
    height: 0.2rem;
    position: absolute;
    transform-origin: 0% 0%;
}

.chiller_cb {
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.chiller_cb input {
    display: none;
}
.chiller_cb input:checked ~ span {
    background: #ffbf00;
    border-color: #ffbf00;
}
.chiller_cb input:checked ~ span:before {
    width: 1rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.3s;
}
.chiller_cb input:checked ~ span:after {
    width: 0.4rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.2s;
}
.chiller_cb input:disabled ~ span {
    background: #ececec;
    border-color: #dcdcdc;
}
.chiller_cb input:disabled ~ label {
    color: #dcdcdc;
}
.chiller_cb input:disabled ~ label:hover {
    cursor: default;
}
.chiller_cb label {
    padding-left: 2rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 0;
    color: #333;
    font-weight: 500;
}
.chiller_cb span {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid #001b94;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
}
.chiller_cb span:before {
    transform: rotate(-55deg);
    top: 1rem;
    left: 0.37rem;
}
.chiller_cb span:after {
    transform: rotate(35deg);
    bottom: 0.35rem;
    left: 0.2rem;
}

.panel {
    background-color: transparent !important;
}
.panel-default {
    border-color: transparent !important;
}

.panel.with-nav-tabs .panel-heading {
    padding: 0px 5px 0 0px;
    background: transparent;
}
.nav-tabs > li > a {
    border-radius: 0px !important;
}

.panel-default > .panel-heading {
    border-color: transparent !important;
}
.panel.with-nav-tabs.panel-default {
}
.panel-body {
    padding: 0;
}

.panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified {
    margin-bottom: -1px;
}

.with-nav-tabs.panel-default .nav-tabs > li {
    display: block;
}
.with-nav-tabs.panel-default .nav-tabs > li > a {
    display: block;
    padding: 10px 0px 8px 0 !important;
    font-size: 17px;
    font-weight: 500;
    border-bottom: solid 2px #001b94 !important;
    margin: 0 0 8px 0;
}


/*** 3 Image Box ***/
.col-sm-4
	{
		padding: 15px;
	}

/*zoom-out*/
.zoombox
{
	background-color: #333;
	overflow: hidden;
}
.zoombox img.zoomboximg
{
	width: 100%;
	height: 240px;
	transform: scale(1.5);
	-webkit-transition: 2s ease-in;
	animation-duration: 10s;
}
.zoombox .zoomboxDiv
{
	position: absolute;
	right: 60px;
	left: 60px;
	top: 60px;
	bottom: 60px;
	display: block;
	background-color: transparent;
	border:1px solid #fff;
	padding: 30px;
	text-align: center;
	transform: scale(0);
	-webkit-transition: 0.5s ease-in-out;
}
.zoombox .zoomboxDiv img
{
	width: 50%;
	height: auto;
}
.zoombox:hover img.zoomboximg
{
	opacity: .3;
	transform: scale(1);
}
.zoombox:hover .zoomboxDiv
{
	transform: scale(1);
}

.td_titel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 0;
    width: 175px;
    z-index: 2;
    transition: all .4s ease;
    text-align: center;
    background: radial-gradient(#0fccea, #0000006b);
}

.td_titel strong {
    font-size: 20px;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: normal;
}

/*** 3 Image Box ***/

/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #fff;
    background: #f8a501;
    border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #333;
    background: #fff;
    border-color: #fff;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}

.form_bx {
    /* background: #fff;
    padding: 5px 5px 0 5px;
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(133,133,133,.5); */
}

.form_bx h2 {
    color: #5d5d5d;
    font-size: 24px;
    margin: 5px 0 15px 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
.form_bx ul {
}
.form_bx ul li {
    float: left;
}
.form_bx ul li span {
    color: #5d5d5d;
}
.flight_type {
    margin: 0 0 0 0px;
}
.flight_type ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.flight_type ul li {
}

.ffrms_ppd {
    padding-left: 0px !important;
    padding-right: 0px !important;
    position: relative;
}
.col-md-3.rsts.ffrms_ppd {
    width: 20.8%;
}

.pplne_hh {
    position: relative;
}

.sm_lbs {
    font-size: 14px;
    color: #fff;
    margin: 0px 0 7px 0;
}
input.ipt1 {
    background: #ff000000 !important;
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    height: 60px;
    border-radius: 0;
    border: none;
    padding: 10px 30px 10px;
    border: 1px solid #eaeaea;
}

ul.nav.nav-tabs li a i {
    font-size: 18px;
    transform: rotate(45deg);
    margin: 0px 7px 0 0;
    position: relative;
    top: 1px;
}

.frm_llbs {
    position: absolute;
    top: 17px;
    left: 9px;
    margin: 0;
}
.res_hh {
    position: absolute;
    display: none;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    color: #333;
    z-index: 1;
    left: 14px;
    top: 2px;
}

.rounded_iimg {
    position: relative;
}
.frm_llbs img {
    width: auto;
}
.tik_round {
    text-align: center;
    position: absolute;
    left: 19.4%;
    z-index: 1;
    top: 53px;
}
.tik_round img {
    border: solid 1px #95989a;
    border-radius: 22px;
    padding: 5px;
    width: 28px;
    background: #fff;
}

select.ipt1 {
    background: transparent;
    color: #252323 !important;
    font-size: 15px;
    padding: 0px 2px 0px 25px;
    font-weight: 500;
    text-transform: capitalize;
    height: 40px;
    border-radius: 2px;
}

.inputSet3 {
    margin: 9px 0 0 0;
}

.inputSet3 label span {
    color: #252323;
    font-size: 14px;
    margin: 0px 0 0 0;
    font-weight: 400;
}

.easy_srch {
    font-size: 22px;
    color: #001b94;
    margin: 0px 0 12px 0;
    font-weight: 700;
}
.form-control:focus {
    border-color: #ffffff;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

select.ipt1_hotel {
    background: #fff;
    color: #5d5d5d;
    border: solid 1px #ccc;
    font-size: 14px;
    padding: 8px 10px 8px 10px;
    font-weight: 500;
    text-transform: capitalize;
    height: 50px;
    border-radius: 0;
    font-weight: 600;
}

select.ipt1 option {
    background: #4f4f79;
}
.form-group label {
    color: #666666;
    font-weight: 600;
    font-size: 16px;
}
.form-group p {
    color: #a5a5a5;
    border-bottom: 2px solid #a5a5a5;
    padding-bottom: 5px;
    font-weight: 500;
}

select,
input.ipt1::-webkit-input-placeholder {
    color: #a79595  !important;
    font-weight: 500;
    font-size: 15px;
}

select,
input.ipt1:-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff !important;
    font-weight: 500;
    font-size: 15px;
}

select,
input.ipt1::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff !important;
    font-weight: 400;
    font-size: 14px;
}

select,
input.ipt1:-ms-input-placeholder {
    color: #ffffff !important;
    font-weight: 400;
    font-size: 14px;
}

select.ipt1_hotel:-moz-placeholder {
    color: #ffffff !important;
    font-weight: 400;
    font-size: 14px;
}

.closed_icon {
    position: absolute;
    top: 16px;
    right: 3px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #e8381b;
    text-align: center;
    cursor: pointer;
}

.closed_icon i {
    line-height: 20px;
    color: #fff;
    font-size: 15px;
}

.form-control {
    box-shadow: none !important;
}

.ddstr {
    margin-top: 10px;
}
.ddstr_ps {
    margin-top: 30px;
}

.form-control:focus {
    box-shadow: 0 0 0 #5d5d5d !important;
}
.fm_ln1 {
    position: relative;
}

.change_city img {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 44px;
    padding: 2px;
}

.change_date img {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    padding: 2px;
}

.fm_ln1 .form-group {
    margin: 0 0px 30px 0;
    position: relative;
}

.fm_ln1 button {
    width: 100%;
    color: #fff;
    border: 0;
    padding: 16px 0;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    border-radius: 0;
    background: linear-gradient(to bottom, #0bffe8 0%, rgb(48 90 86) 100%);
    margin: 0px auto 0px auto;
}

.flight_type label {
    color: #fff;
    background: transparent;
    width: 135px;
    height: 30px;
    border-radius: 4px;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin: 0 0 10px 0;
    font-size: 14px;
    padding: 8px 8px 0 28px;
    text-transform: uppercase;
    text-align: left;
    float: left;
}

.flight_type input[type="radio"] {
}

.bg_clrddd {
}

/* Custom Radio Button Start*/

.radiotextsty {
    color: #a5a4bf;
    font-size: 18px;
}

.customradio {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.customradio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 10px;
    left: 4px;
    height: 16px;
    width: 16px;
    background-color: transparent !important;
    border-radius: 50%;
    border: 2px solid #ffffff !important;
}

/* On mouse-over, add a grey background color */
.customradio:hover input ~ .checkmark {
    background-color: transparent;
}

/* When the radio button is checked, add a blue background */
.customradio input:checked ~ .checkmark {
    background-color: white;
    border: 1px solid #5d5d5d;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.customradio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.customradio .checkmark:after {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
}

.gapres_dd {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: transparent;
    opacity: 1;
}

/* Custom Radio Button End*/
.fm_ln1 {
    background: #000000a1;
    padding: 30px 30px 0px 30px;
    /* border-radius: 25px; */
}
.main_fm {
    position: relative;
}
input.add_num {
    padding: 0;
    width: 100% !important;
    height: 28px;
    border: 1px solid #e5e9f2;
    box-shadow: inset 0 0px 0px #5d5d5d;
}
a.add_btn,
a.mns_btn {
    color: #040404 !important;
    background: #e5e9f2;
    padding: 3px 10px;
    border: solid 1px #e5e9f2;
    border-radius: 0;
}
a.add_btn:hover,
a.mns_btn:hover {
    color: #5d5d5d;
    text-decoration: none;
}
/*a.mns_btn{color: #5d5d5d;background: #ff7742;padding: 3px 12px;}*/
.pass_bx label {
    font-size: 10px;
    font-weight: 500;
    color: #000;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.pass_bx {
    margin: 0 10px 5px 10px;
}
.btn_dn {
    margin: 4px 0px 0 0;
}
.btn_dn button {
    background: #143058;
    display: block;
    width: 100%;
    color: #fff !important;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 4px;
    letter-spacing: 1px;
    font-size: 14px;
    margin: 0;
}
.psg_dls {
    width: 100%;
    display: table;
    background: #ffffff;
    padding: 2px 0;
    position: absolute;
    top: 54px;
    left: 0px;
    z-index: 9;
    border-top: solid 3px #4263c1;
    box-shadow: 0 4px 6px 0 rgb(0 0 0 / 30%);
}

#radioBtn .notActive {
    color: #3276b1;
    background-color: #5d5d5d;
}

@media (min-width: 320px) and (max-width: 479px) {
    .bg_clrddd1 {
        padding: 0 0 0px 0;
    }
    .frm_gap {
        padding: 0px;
    }
    .fm_ln1 {
        padding: 5px 5px 5px 5px;
    }
    .fm_ln1 .form-group {
        margin: 0 0px 10px 0;
    }
    .ui-widget.ui-widget-content {
        border: 0;
        box-shadow: 0 0px 3px #777;
        padding: 0px;
        z-index: 1045 !important;
        position: absolute;
        width: 100% !important;
        left: 0 !important;
    }
    .change_city img {
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -50%);
        width: 36px;
        padding: 2px;
    }
    .bg_clrddd {
        position: relative;
        z-index: 9;
        width: 100%;
        top: -10px;
    }
    .form_bx {
        background: transparent;
        padding: 0px;
        display: table;
        width: 100%;
    }
    .frm_llbs {
        position: absolute;
        top: 19px;
        left: 4px;
        margin: 0;
    }
    .panel-body {
        background: transparent;
    }
    .flight_type label {
        width: 130px;
    }
    .tik_round {
        display: none;
    }
    input.ipt1 {
        height: 60px;
        padding: 10px 0 10px 24px;
    }
    .panel.with-nav-tabs.panel-default {
        padding: 0px 15px 12px 15px;
        box-shadow: none;
    }
    .res_hh {
        font-size: 12px;
        color: #53555a;
        font-weight: 500;
    }
    .fm_ln1 button {
        margin: 5px auto 0px auto;
    }
    .flight_type {
        margin: 0 0 0 0px;
        display: table;
        width: 100%;
    }
}

@media (min-width: 360px) and (max-width: 639px) {
    .bg_clrddd1 {
        padding: 0 0 0px 0;
    }
    .frm_gap {
        padding: 0px;
    }
    .fm_ln1 {
        padding: 5px 5px 5px 5px;
    }
    .fm_ln1 .form-group {
        margin: 0 0px 10px 0;
    }
    .ui-widget.ui-widget-content {
        border: 0;
        box-shadow: 0 0px 3px #777;
        padding: 0px;
        z-index: 1045 !important;
        position: absolute;
        width: 70% !important;
        left: 21px !important;
    }
    .change_city img {
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -50%);
        width: 36px;
        padding: 2px;
    }
    .bg_clrddd {
        position: relative;
        z-index: 9;
        width: 100%;
        top: -10px;
    }
    .form_bx {
        background: transparent;
        padding: 0px;
        display: table;
        width: 100%;
    }
    .frm_llbs {
        position: absolute;
        top: 19px;
        left: 4px;
        margin: 0;
    }
    .panel-body {
        background: transparent;
    }
    .flight_type label {
        width: 130px;
    }
    .tik_round {
        display: none;
    }
    input.ipt1 {
        height: 60px;
        border: solid 1px #bcbcbc;
        padding: 10px 0 10px 24px;
    }
    .panel.with-nav-tabs.panel-default {
        padding: 0px 15px 12px 15px;
        box-shadow: none;
    }
    .res_hh {
        font-size: 12px;
        color: #53555a;
        font-weight: 500;
    }
    .fm_ln1 button {
        margin: 5px auto 0px auto;
    }
    .flight_type {
        margin: 0 0 0 0px;
        display: table;
        width: 100%;
    }
}

@media (min-width: 480px) and (max-width: 639px) {
    .bg_clrddd1 {
        padding: 0 0 0px 0;
    }
    .frm_gap {
        padding: 0px;
    }
    .fm_ln1 {
        padding: 5px 5px 5px 5px;
    }
    .fm_ln1 .form-group {
        margin: 0 0px 10px 0;
    }
    .ui-widget.ui-widget-content {
        border: 0;
        box-shadow: 0 0px 3px #777;
        padding: 0px;
        z-index: 1045 !important;
        position: absolute;
        width: 70% !important;
        left: 21px !important;
    }
    .change_city img {
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -50%);
        width: 36px;
        padding: 2px;
    }
    .bg_clrddd {
        position: relative;
        z-index: 9;
        width: 100%;
        top: -10px;
    }
    .form_bx {
        background: transparent;
        padding: 0px;
        display: table;
        width: 100%;
    }
    .frm_llbs {
        position: absolute;
        top: 12px;
        left: 4px;
        margin: 0;
    }
    .panel-body {
        background: transparent;
    }
    .flight_type label {
        width: 130px;
    }
    .tik_round {
        display: none;
    }
    input.ipt1 {
        height: 50px;
        border: solid 1px #bcbcbc;
    }
    .panel.with-nav-tabs.panel-default {
        padding: 0px 15px 12px 15px;
        box-shadow: none;
    }
    .res_hh {
        font-size: 12px;
        color: #53555a;
        font-weight: 500;
    }
    .fm_ln1 button {
        margin: 5px auto 0px auto;
    }
    .flight_type {
        margin: 0 0 0 0px;
        display: table;
        width: 100%;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .bg_clrddd1 {
        padding: 0 0 0px 0;
    }
    .frm_gap {
        padding: 0px;
    }
    .fm_ln1 .form-group {
        margin: 0 0px 5px 0;
    }
    .ui-widget.ui-widget-content {
        border: 0;
        box-shadow: 0 0px 3px #777;
        padding: 0px;
        z-index: 1045 !important;
        position: absolute;
        width: 70% !important;
        left: 21px !important;
    }
    .change_city img {
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -50%);
        width: 36px;
        padding: 2px;
    }
    .bg_clrddd {
        position: relative;
        z-index: 9;
        width: 100%;
        top: -10px;
    }
    .form_bx {
        background: transparent;
        padding: 0px 5px 0px 5px;
        display: table;
        width: 100%;
    }
    .frm_llbs {
        position: absolute;
        top: 12px;
        left: 4px;
        margin: 0;
    }
    .panel-body {
        background: transparent;
    }
    .flight_type label {
        width: 130px;
    }
    .tik_round {
        display: none;
    }
    input.ipt1 {
        height: 38px;
    }
    .panel.with-nav-tabs.panel-default {
        padding: 0px 15px 12px 15px;
        box-shadow: none;
    }
    .res_hh {
        font-size: 13px;
        color: #001b94;
        font-weight: 600;
    }
}

@media (min-width: 768px) and (max-width: 799px) {
    .bg_clrddd1 {
        padding: 0 0 0px 0;
    }
    .frm_gap {
        padding: 0px;
    }
    .fm_ln1 .form-group {
        margin: 0 0px 5px 0;
    }
    .ui-widget.ui-widget-content {
        border: 0;
        box-shadow: 0 0px 3px #777;
        padding: 0px;
        z-index: 1045 !important;
        position: absolute;
        width: 100% !important;
        left: 0 !important;
    }
    .change_city img {
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -50%);
        width: 36px;
        padding: 2px;
    }
    .bg_clrddd {
        position: relative;
        z-index: 9;
        width: 100%;
        top: -10px;
    }
    .form_bx {
        background: transparent;
        padding: 0px 5px 0px 5px;
        display: table;
        width: 100%;
    }
    .frm_llbs {
        position: absolute;
        top: 12px;
        left: 4px;
        margin: 0;
    }
    .panel-body {
        background: transparent;
    }
    .flight_type label {
        width: 130px;
    }
}
