
        /*AutoComplete flyout */
        .AutoExtender
        {
            font-family: Verdana, Helvetica, sans-serif;
            border: solid 1px #ccc ;
            margin: 0px;
            padding: 0px;
            height: 100px;
            overflow:auto;
             z-index:9999999999 !important;
             font-size: 13px !important;
           background-color: White;
            overflow-x:hidden;
        }
        
        
        .AutoExtenderList
        {
            border-bottom: solid 1px #f1f1f1;
            cursor: pointer;
            line-height: 15px;
            color: #666;
            padding: 5px; 
            margin-left: 0px;

        }
        
        .AutoExtenderHighlight
        {
           background-color:#ed3237 ; 
            color: #fff;
            cursor: pointer;
            line-height: 15px;
            padding: 5px;
            margin-left: 0px;
            border-bottom: solid 1px #ed3237;

        }
  
       /* #divwidth
        {
          width: 250px;
        }
        #divwidth div
       {
        width: 250px;
       }*/